<div>
    <table>
        <tr>
            <td><strong>Місто‣</strong></td>
            <td><i>{{ city }}</i></td>
        </tr>
        <tr>
            <td><strong>Адреса‣</strong></td>
            <td><i>{{ address }}</i></td>
        </tr>
        <tr>
            <td><strong>Им'я‣</strong></td>
            <td><i>{{ contact_name }}</i></td>
        </tr>
        <tr>
            <td><strong>Тел.‣</strong></td>
            <td><a href="tel:{{ phone_number }}">{{ phone_number }}</a></td>
        </tr>
        <tr>
            <td><strong>E-mail‣</strong></td>
            <td><i>{{ email }}</i></td>
        </tr>
        <tr>
            <td><strong>Формат‣</strong></td>
            <td><i>{{ formats }}</i></td>
        </tr>
    </table>
    <br/>
    <dl>
        <dt><strong>Зміст заявки‣</strong></dt>
        <dd><i>{{ comments }}</i></dd>
    </dl>
</div>